<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="controllers.js"></script>
</head>
<body>
    <div ng-controller='HelloController'>
        <input ng-model='greeting.text'>
        <p>{{greeting.text}}, World</p>
    </div>
    <form ng-controller="StartUpController">
        Starting: <input ng-change="computeNeeded" ng-model="funding.startingEstimate" >
        Recommendation: {{funding.needed}}
        ngbind: <b ng-bind="funding.needed"></b>
        <button ng-click="requestFunding()">Fund My startup</button>
        <button ng-click="reset()">Reset</button>
    </form>
</body>
</html>